apiVersion: apps/v1
kind: Deployment
metadata:
  name: mlflow
  namespace: go-mlops
  labels:
    app: mlflow
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mlflow
  template:
    metadata:
      labels:
        app: mlflow
    spec:
      containers:
      - name: mlflow
        image: vaporist/mlflow-custom:v1
        ports:
        - containerPort: 5000
        args:
          - mlflow
          - server
          - --host
          - 0.0.0.0
          - --port
          - "5000"
          # Backend Store URI (PostgreSQL)
          # Uses strapiuser role, its password, the postgres-service K8s service, and the mlflow_db database.
          - --backend-store-uri
          - "postgresql://strapiuser:V%40vrinAdm1n@postgres-service:5432/mlflow_db" 
          # NEW: Disable localhost-only security checks for containerized environment
          - --allowed-hosts
          - "*"
          - --cors-allowed-origins
          - "*"
          # Artifact Root (Will use local storage for now, MinIO will be added later)
          # - --default-artifact-root
          # - "s3://mlflow-artifacts" 
        resources:
          limits:
            cpu: "300m"
            memory: "1Gi"
          requests:
            cpu: "200m"
            memory: "256Mi"
