# kustomization.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
# CRD Traefik MUST be applied first
- traefik/traefik-crd-full.yaml

# Traefik Resources
- traefik/middleware-redirect.yaml

# PostgreSQL Database for Strapi
- strapi-db/postgres-pvc.yaml
- strapi-db/postgres-deployment.yaml
- strapi-db/postgres-service.yaml

# Cert-Manager Resources
- cert-manager/issuer-selfsigned.yaml

# Go Service Resources
- go-service/deployment-service.yaml
- go-service/service-go.yaml
- go-service/ingress-service.yaml
