apiVersion: apps/v1
kind: Deployment
metadata:
  name: mlsolid-gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mlsolid-gateway
  template:
    metadata:
      labels:
        app: mlsolid-gateway
    spec:
      containers:
      - name: mlsolid-container
        # Go application acting as an HTTP Gateway to the Python gRPC service
        image: vaporist/mlsolid:v1.4
        imagePullPolicy: Always
        ports:
        - name: rest
          containerPort: 5000 # Main REST API port for the Go application
        env:
        # Fixed to match your actual service: ml-service-python-service or mlsolid-service
        - name: ML_SERVICE_URL
          value: "mlsolid-service:50051"
        # Fixed to match your actual service name: redis
        - name: REDIS_ADDR
          value: "redis:6379"
        - name: REDIS_DB
          value: "0"
        - name: S3_BUCKET
          value: "mlsolid"
        - name: S3_ENDPOINT
          value: "minio-service:9000"
        - name: S3_REGION
          value: "us-east-1"
