# k8s/mlsolid-app/deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mlsolid-gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mlsolid-gateway
  template:
    metadata:
      labels:
        app: mlsolid-gateway
    spec:
      containers:
      - name: mlsolid-container
        # Go application acting as an HTTP Gateway to the Python gRPC service
        image: vaporist/mlsolid:v1.4
        imagePullPolicy: Always
        ports:
        - name: rest
          containerPort: 5000 # Main REST API port for the Go application
        env:
        # Address of the Python gRPC service (defined in the other folder)
        - name: ML_SERVICE_URL
          value: "mlsolid-python-service:50051"
        - name: REDIS_ADDR
          value: "redis-service:6379"
        - name: REDIS_DB
          value: "0"
        - name: S3_BUCKET
          value: "mlsolid"
        - name: S3_ENDPOINT
          value: "minio-service:9000"
        - name: S3_REGION
          value: "us-east-1"

