apiVersion: apps/v1
kind: Deployment
metadata:
  name: mlsolid-deployment
  namespace: go-mlops
  labels:
    app: mlsolid-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mlsolid-service
  template:
    metadata:
      labels:
        app: mlsolid-service
    spec:
      # Pre-start: setup index file and model directory for the registry
      initContainers:
      - name: init-artifacts
        image: busybox:1.28
        command: ['sh', '-c', 'mkdir -p /artifacts/models && touch /artifacts/idx && touch /artifacts/models/v1.bin']
        volumeMounts:
        - name: artifacts-storage
          mountPath: /artifacts
      containers:
      - name: mlsolid-container
        image: vaporist/mlsolid:v1.2
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        env:
        - name: DATABASE_TYPE
          value: postgres
        - name: DATABASE_HOST
          value: postgres-clusterip-service
        - name: DATABASE_PORT
          value: "5432"
        - name: DATABASE_USER
          value: strapiuser
        - name: DATABASE_NAME
          value: mlsolid_db
        # Ensure password is plain text
        - name: DATABASE_PASSWORD
          value: V@vrinAdm1n
        - name: TZ
          value: Europe/Zurich
        # Mounting directly to root /artifacts as expected by binary relative path
        volumeMounts:
        - name: artifacts-storage
          mountPath: /artifacts
      volumes:
      - name: artifacts-storage
        emptyDir: {}
