# k8s/mlflow-service/connection.yaml
apiVersion: v1
kind: Service
metadata:
  # CORRECTION: Change the name to match the convention used everywhere else
  name: mlflow-service 
  namespace: go-mlops
  labels:
    app: mlflow
  annotations:
    # Forces Traefik to use the Pod IP directly instead of the K8s service load balancer.
    traefik.ingress.kubernetes.io/loadbalancer.server.prefer-ip: "true"
spec:
  # CHANGE THE TYPE HERE: We are switching from NodePort to ClusterIP again
  type: ClusterIP
  # Selector links this Service to the MLflow Deployment Pods
  selector:
    app: mlflow
  ports:
    - protocol: TCP
      port: 5000 # Internal ClusterIP port (used by other K8s services)
      targetPort: 5000 # The port where the MLflow container listens
